@font-face{
    font-family: "Roboto";
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}
@font-face{
    font-family: "Roboto2";
    src: url(../fonts/Righteous-Regular.ttf);
}
@font-face{
    font-family: "Playfair";
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
body{
    font-family: "Roboto";
    background-color:burlywood;
}
#bord{
    border-color: black;
    border-width: 9px;
    border-style: dashed;
    padding: 70px;
}
h1{
    font-family: "Roboto2";
}
.center{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.boton{
    cursor: url(../images/telescope.png), pointer;
    display: flex;
    position: absolute;
    text-align:right;
    align-items: end;
    opacity: 1;
    left: 100px;
    width: 100px;
    height: 100px;
    color: rgb(39, 32, 28);
    font-size: smaller;
    border-radius: 10px;

    animation-name: movimiento;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#hey{
    background-color: aqua;
}
@keyframes movimiento{
    0%{
        left: 50px;
    }
    100%{
        left: 1200px;
    }
}
.boton:hover{
    opacity: 1;
}
table{
    border-style:double;
    background-color: crimson;
}
#overflow{
    font-family: "Playfair";
    text-align: center;
    color: white;
    position: relative;
    bottom: 2vh;
    width: 60vh;
    height: 35vh;
    background-color: darkslategrey;
    overflow: scroll;
}
.cuadros{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
.imge{
    border-radius: 10% 10% 10% 10%;
    width: 15vh;
    height: 15vh;
}
.i{
    position: absolute;
    top: 599.8vh;
    left: 90vh;
    background-color: rgb(99, 184, 14);
    width: 14vh;
    height: 25vh;
}
.ii{
    position: absolute;
    top: 608.8vh;
    left: 74vh;
    background-color: rgb(230, 26, 26);
    width: 16vh;
    height: 16vh;
}
.iii{
    position: absolute;
    top: 602vh;
    left: 92.5vh;
    background-color: rgb(18, 180, 255);
    width: 9vh;
    height: 9vh;
}
.iv{
    position: absolute;
    top: 610.3vh;
    left: 106vh;
    background-color: rgb(188, 18, 255);
    width: 12vh;
    height: 14.5vh;
}
#R{
    position: absolute;
    top: 625.4vh;
    background-color: rgb(161, 65, 21);
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
}
.v{
    left: 110.2vh;
}
.vi{
    left: 73vh;
}
.iv{
    position: absolute;
    top: 612.3vh;
    left: 106vh;
    background-color: rgb(188, 18, 255);
    border-radius: 20%;
    width: 16vh;
    height: 12.5vh;
}
.vii{
    position: absolute;
    top: 608.8vh;
    left: 70.1vh;
    background-color: rgb(230, 26, 26);
    width: 7vh;
    height: 16vh;
    border-radius: 50%;
}
.viii{
    position: absolute;
    top: 616.4vh;
    left: 85vh;
    background-color: rgb(161, 65, 21);
    width: 17vh;
    height: 17vh;
    border-radius: 50%;
}
.ix{
    position: absolute;
    top: 607.8vh;
    left: 124vh;
    background-color: rgb(22, 175, 162);
    border-radius: 30%;
    width: 16vh;
    height: 17vh;
}
.x{
    left: 128.3vh;
}
#V{
    position: absolute;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    background-color: cornsilk;
}
.xi{
    position: absolute;
    top: 600.3vh;
    left: 76.5vh;
    background-color: rgb(206, 112, 25);
    width: 7vh;
    height: 8.5vh;
}
.a{
    top: 591vh;
    left: 77vh;
}
.b{
    top: 585vh;
    left: 80vh;
}
.c{
    top: 580vh;
    left: 85vh;
}
a.enlace:link{
    color:blueviolet;
}
a.enlace:hover{
    color: darkorange;
}
a.enlace:visited{
    color: rgb(53, 187, 53);
}